table '{{ table.name }}'
  lineageTag: {{ generate_lineage_tag() }}

{% for col in table.columns %}
  column '{{ col.name }}'
    dataType: {{ col.dataType }}
    lineageTag: {{ generate_lineage_tag() }}
{% if col.formatString %}
    formatString: {{ col.formatString }}
{% endif %}
{% if col.isHidden %}
    isHidden: true
{% endif %}

{% endfor %}
{% if table.partitions and partition_mcode %}
  partition {{ table.partitions[0].name }} = m
    mode: {{ table.partitions[0].mode }}
    source = ```
{{ partition_mcode }}
```

{% endif %}
