table '{{ table.name }}'
  lineageTag: {{ generate_lineage_tag() }}

{% if table.calculatedTableDef and table.calculatedTableDef.expression %}
  partition '{{ table.name }}-Partition' = calculated
    mode: import
    source = 
{{ table.calculatedTableDef.expression | indent(8, first=True) }}

{% else %}
  # No calculated table expression defined
{% endif %}

{% for column in table.columns %}
  column {{ column.name }}
    dataType: {{ column.dataType }}
{% if column.formatString %}
    formatString: {{ column.formatString }}
{% endif %}
{% if column.isHidden %}
    isHidden
{% endif %}
    lineageTag: {{ generate_lineage_tag() }}
{% endfor %}

{% for measure in table.measures %}
  measure '{{ measure.name }}' = ```
{{ measure.expression }}
```
{% if measure.formatString %}
    formatString: {{ measure.formatString }}
{% endif %}
{% if measure.displayFolder %}
    displayFolder: {{ measure.displayFolder }}
{% endif %}
{% if measure.isHidden %}
    isHidden
{% endif %}
    lineageTag: {{ generate_lineage_tag() }}

{% endfor %}
