table '{{ table.name }}'
  lineageTag: {{ generate_lineage_tag() }}

{% if table.partitions and partition_mcode %}
  partition {{ table.partitions[0].name }} = m
    mode: {{ table.partitions[0].mode }}
    source = ```
{{ partition_mcode }}
```
{% else %}
  # Calculated table: DAX expression-based table
  # Columns and expressions would be defined here if available
{% endif %}
