table '{{ table.name }}'
  lineageTag: {{ generate_lineage_tag() }}

{% if table.calculationGroupItems %}
{% for item in table.calculationGroupItems %}
  calculationGroupItem '{{ item.name }}'
    expression = ```
{{ item.expression }}
```
{% if item.ordinal is not none %}
    ordinal: {{ item.ordinal }}
{% endif %}
    lineageTag: {{ generate_lineage_tag() }}

{% endfor %}
{% else %}
  # No calculation group items defined
{% endif %}

