{% for key, src in sources.items() %}
expression {{ key }} = ```
	let
	    Source = Snowflake.Databases("{{ src.server }}", [
{% if src.warehouse %}
	      Warehouse = "{{ src.warehouse }}"{% if src.role or (src.options and src.options.queryTag) %},{% endif %}

{% endif -%}
{% if src.role %}
	      Role = "{{ src.role }}"{% if src.options and src.options.queryTag %},{% endif %}

{% endif -%}
{% if src.options and src.options.queryTag %}
	      QueryTag = "{{ src.options.queryTag }}"
{% endif %}
	    ]){% if src.database %},
	    Database = Source{[Name = "{{ src.database }}", Kind = "Database"]}[Data]{% endif %}
	in
	    {% if src.database %}Database{% else %}Source{% endif %}
			```
	lineageTag: {{ generate_lineage_tag() }}

	annotation PBI_IncludeFutureArtifacts = False
{% if not loop.last %}

{% endif %}
{% endfor %}

{% if transforms %}
{% for name, body in transforms.items() -%}
expression {{ name }} =
{% for line in body.strip().splitlines() -%}
      {{ line }}
{% endfor %}
    lineageTag: {{ generate_lineage_tag() }}

    annotation PBI_IncludeFutureArtifacts = False
{% if not loop.last %}

{% endif %}
{% endfor -%}
{% endif %}

