{% for rel in relationships %}
relationship {{ generate_lineage_tag() }}
  crossFilteringBehavior: {{ 'bothDirections' if rel.crossFilter == 'both' else 'oneDirection' }}
  isActive: {{ 'true' if rel.isActive else 'false' }}
  fromCardinality: {{ 'many' if rel.cardinality == 'manyToOne' else 'one' if rel.cardinality == 'oneToMany' else 'one' }}
  toCardinality: {{ 'one' if rel.cardinality == 'manyToOne' else 'many' if rel.cardinality == 'oneToMany' else 'one' }}
  fromColumn: '{{ rel.fromtable }}'.'{{ rel.fromcolumn }}'
  toColumn: '{{ rel.totable }}'.'{{ rel.tocolumn }}'
{% endfor %}