Snowflake.Databases("{{ src.server }}"
{%- if src.warehouse %}, "{{ src.warehouse }}"{% endif %}
{%- if src.role or (src.options and src.options.queryTag) -%}
, [
{%- if src.role %}Role = "{{ src.role }}"{% endif %}
{%- if src.role and src.options and src.options.queryTag %}, {% endif %}
{%- if src.options and src.options.queryTag %}QueryTag = "{{ src.options.queryTag }}"{% endif %}
]
{%- endif -%}
)