	let
	    Source = Sql.Database("{{ src.server }}", "{{ src.database }}", [
{% if src.options and src.options.get('commandTimeout') %}
	      CommandTimeout = #duration(0, 0, {{ src.options.get('commandTimeout') }}, 0),
{% endif %}
{% if src.options and src.options.get('queryFolding') %}
	      QueryFolding = {{ src.options.get('queryFolding') | lower }},
{% endif %}
{% if src.options and src.options.get('nativeQuery') %}
	      NativeQuery = true
{% endif %}
	    ])
	in
	    Source
